<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Login Form | Faez</title>
        <link rel="stylesheet" href="./Login/login.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <style>
            /* Add some styles for better visibility */j
            h1, h6 {
                display: inline;
                margin:0; /* Add some space between the headings */
            }
        </style>


    </head>
<body>
<!--creating the form container-->

    <div class="wrapper"><!--er moddhe form rakhbo-->
  

<h1>BOOK CAFE</h1>
<h6>online bookstore</h6>

     <!--User name-->
       <div class="input-box">
    <input type="text" placeholder="Username" required>
    <i class='bx bx-user-circle'></i>
</div>

       <!--Password-->

       <div class="input-box">
        <input type="password" placeholder="password" required>
        <i class='bx bxs-lock-alt'></i>
    </div>

   


    
        <div class="remember-forgot">
          <label><input type="checkbox" >Remember Me</label>
          <a href="#">Forgot password?</a>
        </div>
    
        <!--creating log in button-->
        <Button type="submit" class="btn"><a class="button100" href="./index.html">Login </a> </Button>
        <!--creating the Register Link-->

        <div class="register-link">
            <p>Don't Have an account?<a href="#">Register</a></p>
        </div>


</form>
    </div>


</body>


</html>