<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Login Form | Faez</title>
        <link rel="stylesheet" href="./Login/login.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <style>
            /* Add some styles for better visibility */j
            h1, h6 {
                display: inline;
                margin:0; /* Add some space between the headings */
            }
        </style>


    </head>
<body>
<!--creating the form container-->

    <div class="wrapper"><!--er moddhe form rakhbo-->
  

<h1>BOOK CAFE</h1>
<h6>online bookstore</h6>

     <!--User name-->
       <div class="input-box">
    <input type="text" placeholder="Username" required>
    <i class='bx bx-user-circle'></i>
</div>
       <!--Password-->

       <div class="input-box">
        <input type="email" placeholder="email" required>
        <i class='bx bx-envelope'></i>
    </div>

       <!--Password-->

       <div class="input-box">
        <input type="password" placeholder="password" required>
        <i class='bx bxs-lock-alt'></i>
    </div>

   


    
        <div class="remember-forgot">
          <label><input type="checkbox" >Remember Me</label>
         
        </div>
    
        <!--creating log in button-->
        <Button type="submit" class="btn"><a class="button100" href="./index.html">Register </a> </Button>
        <!--creating the Register Link-->

        <div class="register-link">
            <p>Already have an account? <a href="./login.html"> Login</a></p>
        </div>


</form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>


</html>